
.Rproj.user/A04F8D68/sources/s-5BBDA98/F78414E6
.Rproj.user/A04F8D68/sources/prop/990DE14F
.Rproj.user/A04F8D68/sources/s-5BBDA98/F78414E6
.Rproj.user/A04F8D68/sources/s-5BBDA98/F78414E6-contents
.Rproj.user/A04F8D68/sources/prop/2FE07404
.Rproj.user/A04F8D68/sources/prop/A04A240
.Rproj.user/A04F8D68/sources/prop/A04A240
.Rproj.user/A04F8D68/sources/prop/D22431
.Rproj.user/A04F8D68/sources/prop/INDEX
.Rproj.user/A04F8D68/sources/s-5BBDA98/5818F493
.Rproj.user/A04F8D68/sources/s-5BBDA98/5818F493-contents
.Rproj.user/A04F8D68/sources/s-5BBDA98/A679267D
.Rproj.user/A04F8D68/sources/s-5BBDA98/CE84DF8
.Rproj.user/shared/notebooks/paths
